---
active: index
title: Gerson C. Kroiz
---
<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% seo %}
</head>
  
<!-- imports header material-->
  
  <div style="background-image: url('static/images/banner.jpeg'); background-size: cover; background-repeat: no-repeat; min-height: 100vh">
    {% include navbar.html %}

  <div class="container">
  ​<picture>
    {% comment %} <img src="static/images/GK_Headshot.jpg" class="rounded-circle mx-auto d-block img-fluid"  alt="..." height = "50vh;" alt="Responsive image"> {% endcomment %}
    {% comment %} <img src="static/images/GK_Headshot.jpg" class="rounded-circle mx-auto d-block img-fluid" alt="..." style="max-width: 50vw;"> {% endcomment %}
  <div class="d-none d-lg-block">
    <img src="static/images/GK_Headshot.jpg" class="rounded-circle mx-auto d-block img-fluid" alt="..." style="max-width: 25vw;">
  </div>
  <div class="d-none d-md-block d-lg-none">
    <img src="static/images/GK_Headshot.jpg" class="rounded-circle mx-auto d-block img-fluid" alt="..." style="max-width: 35vw;">
  </div>
  <div class="d-md-none">
    <img src="static/images/GK_Headshot.jpg" class="rounded-circle mx-auto d-block img-fluid" alt="..." style="max-width: 50vw;">
  </div>
  </picture>
  <br>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">About Me</h1>
      <p class="lead">
      Hi, I am Gerson Kroiz, a senior majoring in math and computer science at the University of Maryland, Baltimore County. 
      My research interests include machine learning, high performance computing, and numerical linear algebra with applications in finance.
      In my spare time, I enjoy traveling, playing piano, running, biking, skiing, and taking pictures.
      
      </p>
    </div>
  </div>
</div>

</br>
</br>
</br>
{% include footer.html %}
</div>
</html>