<!DOCTYPE html>
<html>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <div class="text-center p-0" style="background-color: rgba(52, 58, 64, 0);">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3">  
      <ul class="nav col-md-4 justify-content-center">
        <a class="btn btn-outline-light" style="margin:10px;" href="mailto:gkroiz1@umbc.com" role="button">Email</a>
        <a class="btn btn-outline-light" style="margin:10px;" href="https://www.linkedin.com/in/gkroiz/" role="button">Linkedin</a>
        <a class="btn btn-outline-light" style="margin:10px;" href="https://github.com/gkroiz" role="button">Github</a>
      </ul>
    </footer>
  <!-- Grid container -->


</footer>
<!-- Footer -->
</html>