---
active: research
---
<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    
    <style>
    div.a {
      text-align: center;
    }
    
    div.b {
      text-align: left;
    }
    
    div.c {
      text-align: right;
    } 
    
    div.d {
      text-align: justify;
    } 
    </style>
    
    
<!-- imports header material-->

<div style="background-image: url('../static/images/banner.jpeg'); background-size: cover; background-repeat: no-repeat; min-height: 100vh;">
  {% include navbar.html %}

    </br>
</br>

<div class="container">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title">Linkages of Calcium Induced Calcium Release in a
            Cardiomyocyte Simulated by a System of Seven Coupled
            Partial Differential Equations
        </h2>
        <h5>
        <b> Authors: </b> Gerson C Kroiz (UMBC), Carlos A Barajas (UMBC), Matthias K Gobbert (UMBC), Bradford E Peercy (UMBC)
        </h5>
        <br>
    
        <div class="d">
        <p class="card-text" text-align="justify"><b> Work Summary: </b> Cardiac arrhythmias affect millions of adults in the U.S. each year. This
            irregularity in the beating of the heart is often caused by dysregulation
            of calcium in cardiomyocytes, the cardiac muscle cell. Cardiomyocytes
            function through the interplay between electrical excitation, calcium signaling, and mechanical contraction, an overall process known as calcium
            induced calcium release (CICR). A system of seven coupled non-linear
            time-dependent partial differential equations (PDEs), which model physiological variables in a cardiac cell, link the processes of cardiomyocytes.
            Through parameter studies for each component system at a time, we create
            a set of values for critical parameters that connect the calcium store in the
            sarcoplasmic reticulum, the effect of electrical excitation, and mechanical
            contraction in a physiologically reasonable manner. This paper shows the
            design process of this set of parameters and then shows the possibility to
            study the influence of a particular problem parameter using the overall
            model.
        </p>
        <p>
          <b> Tools Used: </b> MATLAB, C, Bash Scripting, Slurm
        </p>
        <p>
          <b> Peer-Reviewed Publication: </b> <a href="10.2140/involve.2020.13.399"> Involve 2020</a>, <a href="https://doi.org/10.1002/cnm.3244"> Int. Journ. for Num. Methods. in Bio. Eng. 2019 </a>
        </p>
    </div>

        <br>
    
    
    
    
        <a href="../research.html" class="btn btn-outline-dark btn-lg">Other Research</a>
        
      </div>
    </div>
</div>
</br>
</br>
</div>
{% include footer.html %}
</div>
</html>